{% extends 'recipe_base.html' %}

{% block pageTitle %}
    {{object}}
{% endblock %}
{% block title %}
    Recipe Detail
{% endblock %}

{% block content %}
    <h1>{{ object }}</h1>
    <h2>by {{ object.author.profile.name }}</h2>
    <h3>
        created on: {{ object.createdOn }}<br />
        updated on: {{ object.updatedOn }}
    </h3>
    <ul>
        {% for ingredient in object.ingredients.all %}
        <li>{{ ingredient.quantity }} {{ ingredient.ingredient.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
